body {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 250px;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    min-height: 310px;
    height: calc(100vh - 60px);
    padding-top: 10px;

  }

/* INICIO DE ESTILOS PARA GALERIA*/
.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
#expandedImg{
  width: auto;
  max-width: 90%;
  max-height: 450px;
  max-height: 50vh;
  margin-top: 20px;
}

.row{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0px;
}
.row img{
  height: 40px;
  width: 40px;
  cursor: pointer;
  opacity:0.8;
  max-width: 70%;
  margin: 5px;
  border-radius: 15px;
  transition: all linear 0.25s;
}
.row img:hover{
  opacity: 1;
  height: 45px;
  width: 45px;
}

  
  #navbar {
    overflow: hidden;
    background-color: #333;
    min-width: 250px;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #970a0a;
    color: white;
  }
  
  .content {
    padding: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.section {
  width: 90%;
  min-width: 200px;
  margin: 10px 0;
  background-color: #970a0a;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(17, 2, 2, 0.288);
}
#inicio{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.inicio div{
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 49%;
  min-width: 80px;
}
.fotodelrey{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  min-width: 90px;
}
.fotodelrey img{
  height: auto;
  min-width: 50px;
  border-radius: 10px;
  max-width: 350px;
  
}
.texto-inicio{
  width: 500px;
  max-width: 90%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 10 0 0 0;

}
.texto-inicio p{
  font-size: 20px;
  text-align: justify;
  color: #f2f2f2;
}
#estadisticas{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#estadisticas h2{
  color: #f2f2f2;
  font-size: 30px;
}
.data-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 20px;
}
.data{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 110px;
  margin: 10px;
}

.data span{
  color: #f2f2f2;
  font-size: 15px;
  text-align: center;
}
.formularito{
  padding: 10px;
}
.formularito{
  display: flex;
  flex-direction: column;
}
.formularito h2{
  font-size: 40px;
  color: #f2f2f2;
  width: 100%;
  text-align: center;
}
#about{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
#about img{
  margin: 10px;
  border-radius: 100%;
}
#about p{
  margin: 20px;
  margin: 30px;
  max-width: 600px;
  text-align: center;
}
footer{
  
  bottom: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
}
footer a{
  text-decoration: none;
  color: white;
}
