<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sections/messagesStyle.css">
    <title>Mensajes</title>
</head>
<body>
    <h1>BANDEJA DE ENTRADA</h1>
    
    <table id="mensajes">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo electrónico</th>
            <th>Mensaje</th>
        </tr>
        {% for mensaje in mensajes%}
        <tr>
            <td>{{mensaje['nombre']}}</td>
            <td>{{mensaje['apellido']}}</td>
            <td>{{mensaje['email']}}</td>
            <td>{{mensaje['mensaje']}}</td>
        </tr>
        {% endfor%}
    </table>
</body>
</html>